.testimonial {
    display: block;
    padding-right: _size(element-margin);
    blockquote {
        border-left-color: _palette(bg-alt);
        border-left-width: 4px;
    }
    cite {
        color: _palette(bg);
        padding-left: _size(element-margin);
    }
    cite strong {
        color: _palette(bg);
    }
}

.slick-dots li button {
    box-shadow: none;
}